html, body
{
	height: 100%;
}
body 
{
	color: #4d4d4d;
	background-color: #fff;
}
.border
{
	outline: 1px solid red;
}
a:focus, input:focus, input:active, button:focus
{
	outline: none !important;
}
.clear
{
	clear: both;
}
/*-------------------------------------------------------------------------------------------------------------*/
#wrapper
{
	min-height: 100%;
	position: relative;
	padding-bottom: 50px;
}
.container
{
	max-width: 980px;
}
.no-padding 
{
	padding: 0px;
}
.no-padding-left
{
	padding-left: 0px;
}
.no-padding-right
{
	padding-right: 0px;
}
.center
{
	text-align: center;
}
.left
{
	text-align: left;
}
.float-right 
{
	float: right;
}
#line-header
{
	height: 5px;
	background-color: #75ac19;
	width: 100%;
}

header
{
	background-color: #fff;
	width: 100%;
	box-shadow: 0 0 2px #000;
}
#content-home
{
	margin-top: -160px;
}
footer
{
	clear: both;
	display: block;
	min-height: 35px;
	padding: 10px 0;
	background-color: #8AB815;
	color: #fff;
	font-size: 10px;
	text-align: center;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
footer:before 
{
	display: block;
	content:'';
	width: 900px;
	height: 1200px;
	background: #75ac19;
	position: absolute;
	top: -510px;
	left: 13%;
	transform: rotate(35deg);
}
/*-----------------------------------------------------------------------------------------------------------------*/
.btn-1
{
	background-color: #ff8900 !important;
	border-color: #D96C00 !important;
	color: #fff !important;
	box-shadow: 0 0 1px #D96C00, 0 1px 0px 0px #FCB623 inset;
}
.btn-1:focus 
{
	background-color: #F28000 !important;
	box-shadow: none;
	border-color: #BB6200 !important;
	text-decoration: none !important;
}
.btn-1:focus i, .btn-2:focus i, .btn-3:focus i, .btn-4:focus i
{
	background: none !important;
}
.btn-2
{
	background-color: #a9c406 !important;
	border-color: #7CA600 !important;
	color: #fff !important;
	box-shadow: 0 0 1px #698C00, 0 1px 0px 0px #BFFF00 inset;
}
.btn-2:focus
{
	background-color: #93AB05 !important;
	box-shadow: none;
	border-color: #468C00 !important;
}
.btn-3
{
	background-color: #75ac19 !important;
	border-color: #699A16 !important;
	color: #fff !important;
	box-shadow: 0 0 1px #679816, 0 1px 0px 0px #8CCD1F inset;
}
.btn-3:focus
{
	background-color: #6DA217 !important;
	box-shadow: none;
	border-color: #468C00 !important;
}
.btn-4
{
	background-color: #ffcc00 !important;
	border-color: #D7AC00 !important;
	color: #fff !important;
	box-shadow: 0 0 1px #BB9600, 0 1px 0px 0px #FFE375 inset;
}
.btn-4:focus
{
	background-color: #D2A800 !important;
	box-shadow: none;
	border-color: #6F5800 !important;
}
/*-------------------------------------------------------------------------------------------------------------*/

#user-box
{
	list-style: none;
	display: block;
	background-color: #75ac19;
	padding: 0px; 
	margin: 0px;
	border-radius: 5px;
	float: right;
	margin-top: -5px;
	min-width: 185px;
}

#user-box > li
{
	float: left;
	color: #fff;
	padding: 0 9px;
}
#user-box > li:last-child
{
	border-left: 1px solid #8CCE1E;
	box-shadow: -1px 0 0 #679816;
}
#user-box > li > .btn-group > a, #user-box > li > a 
{
	background: none;
	border: none;
	display: inline-block;
	padding: 9px 5px;
	color: #fff;
	font-size: 12px;
}
#user-box > li > a 
{
	padding: 7px 5px;
}
#user-box > li > .separator
{
	position: absolute;
	left: 0px;
	top: 6px;
}
#user-box > li > .btn-group > a:focus, #user-box > li > .btn-group > a:hover
{
	text-decoration: none;
	box-shadow: none;
}
#user-box > li > .btn-group > .dropdown-menu-left
{
	left: -10px;
}
#user-box > li > .btn-group > .dropdown-menu-right
{
	right: -11px;
}
#user-box > li > .btn-group > .dropdown-menu
{
	background-color: #ff8900; 
}
#user-box > li > .btn-group > .dropdown-menu li *
{
	color: #fff;
}
#user-box > li > .btn-group > .dropdown-menu li:hover *
{
	color: #666;
}
#user-box > li:last-child > .btn-group > .dropdown-menu li:hover *
{
	background: #FFCC00;
	color: #666 !important;
}
#dropdown-login
{
	padding: 10px;
}
#user-box > li > .btn-group > #dropdown-login.dropdown-menu li *
{
	color: #666;
}
#user-box > li > .btn-group > #dropdown-login.dropdown-menu li label
{
	color: #fff;
}
#dropdown-login input[type="text"], #dropdown-login input[type="password"], #dropdown-login input[type="submit"]
{
	width: 100%;
	margin: 5px 0;
	color: #666;
}
/*--------------------------------------------------------------------------------------------------*/

.social-box
{
	display: inline-block;
	margin: 5px;
	margin-right: 7px;
	list-style: none;
	float: right;
}
.social-box li 
{
	position: relative;
	float: left;
	overflow: hidden;
	margin-left: 5px;
	border-radius: 3px;
}
.social-box li:hover > a
{
	top: 0px;
	left: 0px;
}
.social-box li > a 
{
	color: #fff;
	background-color: #a9c406;
	position: absolute;
	top: 50px;
	left: 0px;
	transition: top 0.5s;
}

.social-box-base
{
	background-color: #75ac19;
}
.social-box-base, .social-box-base > a 
{
	color: #fff;
}
.social-box li > a, .social-box-base, .social-box-base > a
{
	display: block;
	width: 20px;
	line-height: 22px;
	height: 20px;
	text-align: center;
	margin: 0px;
	font-size: 10px;
}
.color-fb { background-color: #0040FF !important; }
.color-twitter { background-color: #26C9FF !important; }
.color-gplus { background-color: #B30000 !important; }

#navbar-collapse-2
{
	position: absolute;
	right: 0px;
	top: 0px;
}

/*--------------------------------------------------------------------------------------------------*/

#phone-box 
{
	float: right;
	margin: 37px 0 5px 70px;
}
#phone-box  > div 
{
	float: left;
}
#phone-image
{
	color: #fff;
	text-align: center;
	background-color: #a9c406;
	width: 44px;
	line-height: 44px;
	font-size: 30px;
	border-radius: 5px;
	margin-right: 5px;
}
#phone-text
{

}
#phone-number
{
	font-weight: bold;
	font-size: 20px;
}

/*--------------------------------------------------------------------------------------------------*/

#main-logo 
{
	display: block;
	margin-top: 0px;
}
nav.navbar
{
	background: none;
	margin: 0;
	box-shadow: none;
	border: none;
}
.navbar-toggle
{
	margin: 5px 0px 13px 10px;

}
.navbar-toggle:focus *
{
	background: #FFFFFF !important;
}

.navbar-collapse
{
	padding: 0;
}
#main-nav 
{
	margin: 45px 0px 0px 0px;
}

#main-nav > li.active > a
{
	color: #75ac19;
	background: none;
	font-weight: bold;
}
#main-nav > li > a
{
	color: #4d4d4d;
	padding: 5px 20px;
	font-size: 15px;
	transition: color 0.3s;
}
#main-nav > li:not(.active) > a:hover
{
	background: none;
	color: #ff8900;
}
#main-nav > li:not(.active) > a:focus
{
	background: none;
}
.close-collapse
{
	text-align: center;
	padding: 5px 0;
	width: 100%;
	height: 30px;
	color: #fff;
	background: #75ac19;
	box-shadow: 0 -1px 0 #649315, 0 1px 0 #89CA1E inset;
}

/*-------------------------------------------------------------------------------------------------------------*/

#hero-text, #hero-phone-text
{
	text-align: center;
	font-size: 20px;
	color: #fff;
	text-shadow: 0px 0px 5px #000;
}
#hero-phone-text
{
	font-size: 22px;
}
#hero-phone-text > i 
{
	display: inline-block;
	background-color: #a9c406;
	padding: 5px;
	width: 30px; height: 30px;
	box-shadow: 0px 0px 1px #000;
	text-shadow: none;
	border-radius: 20px;
}

/*----------------------------------------------------------------------------------------------------------------*/
#hero
{
	min-height: 380px;
	width: 100%;
	background-image: url(../images/hero.jpg);
	background-repeat: repeat-x;
	box-shadow: 0px 10px 15px -15px #000 inset;
	padding-top: 30px;
}
#hero-search-box 
{
	margin: 15px auto 100px auto;
	padding: 18px 28px;
	background-color: rgba(0,0,0, 0.3);
	border-radius: 5px;
}
.search-group
{
	display: table;
	position: relative;
	border-collapse: separate;
	width: 100%;
}
.search-group > .radio-select
{
	display: table-cell;
	width: 80px;
	box-sizing: border-box;
	white-space: nowrap;
	vertical-align: middle;
	border-collapse: separate;
}
.search-group > .radio-select > .select
{
	padding: 25px 30px;
	height: 73px;
	font-size: 16px;
	border-radius: 5px 0 0 5px;
}
#hero-search-box  .button > *, #search-box  .button > *
{
	display: inline-block;
	width: 100%;
	vertical-align: top;
	text-align: center;
	border: none;
	border-radius: 5px;
	transition: background-color 0.3s, box-shadow 0.3s;
}
#hero-search-box  .button > *
{
	background-color: #ffcc00;
	color: #fff;
	padding: 0px 0 2px 0;
	font-size: 28px;
	font-weight: bold;
	line-height: 71px;
	box-shadow: 0 2px 0px 0px #FFEC9D inset, 0 0 0 1px #755E00;
	text-shadow: 0 -1px 2px rgba(0,0,0,0.5);
}
#hero-search-box  .button > *:hover
{
	background-color: #a9c406;
	box-shadow: 0 2px 0px 0px #C9FF26 inset, 0 0 0 1px #336600;
}
#hero-search-box  .button > *:active
{
	background-color: #98B105;
	box-shadow: 0 2px 0px 0px #BEFD00 inset, 0 0 0 1px #336600;
}
#hero-search-box .search-group, #hero-search-box  .button
{
	padding: 5px;
}
.search-group > input[type="text"]
{
	width: 100%;
	float: left;
	display: table-cell;
	padding: 0 30px;
	height: 73px;
	border: none;
	border-radius: 0 5px 5px 0;
	font-size: 20px;
	color: #666666;
	box-shadow: 10px 8px 15px -15px #000 inset;
}


#search-box
{
	padding: 10px 0;
	background: #a9c406;
	box-shadow: 0 -22px 0 #9db606 inset;
}
#search-box .button
{
	margin-left: -25px;
}
#search-box .button *
{
	line-height: 42px;
	font-size: 18px;
	height: 43px;
}
#search-box .search-group > .radio-select > .select, 
#search-box .search-group > input[type="text"]
{
	height: 43px;
	font-size: 14px;
}
#search-box .search-group > .radio-select > .select
{
	padding: 11px 30px;
}



.radio-select
{
	position: relative;
	color: #666666;
}
.radio-select .select
{
	padding: 10px 15px;
	background-color: #fff;
	display: inline-block;
}
.radio-select .select:hover
{
	cursor: pointer;
}
.radio-select .select > span 
{
	max-width: 100px;
	display: inline-block;
	vertical-align: bottom;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.radio-select > .options
{
	background-color: #fff;
	box-shadow: 0 0 2px #000;
	border: 3px;
	width: 200px;
	border-radius: 3px;
	overflow: hidden;
	display: none;
	position: absolute;
	left: 0px;
	z-index: 1000;
	margin-top: 5px;
}
.radio-select > .options.show
{
	display: block;
}
.radio-select > .options > div 
{
	padding: 15px 15px;
}
.radio-select > .options > div:hover 
{
	cursor: pointer;
	background-color: #888888;
	color: #fff;
}
.radio-select > .options > div > input
{
	display: none;
}

/*-----------------------------------------------------------------------------------------------------------------*/



.featured-menu
{
	text-align: center;
}
.featured-menu:after
{
	display: block;
	content: '';
	clear: both;
}
.featured-menu > .thumbnail
{
	position: relative;
	width: 200px;
	margin: 0 auto;
	background: none;
	border: none;
}
.featured-menu > .thumbnail > a > .image
{
	position: relative;
	width: 200px;
	height: 200px;
	padding: 0;
	overflow: hidden;
	border-radius: 100px;
	border: 6px solid #fff;
	box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.2);
}
.featured-menu > .thumbnail > a > .image:after 
{
	display: block;
	width: 1px;
	height: 200px;
	padding-top: 20px;
	color: #fff;
	text-align: center;
	content: 'Lihat Detail';
	white-space: nowrap;
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: rgba(0,0,0,0.5);
	transition: width 0.5s;
}
.featured-menu > .thumbnail:hover > a > .image:after
{
	width: 190px;
}
.featured-menu > .thumbnail > a > .image > img 
{
	height: 200px;
	width: auto;
}
.featured-menu > .thumbnail > a > .icon
{
	width: 71px;
	height: 71px;
	line-height: 69px;
	background-color: #ffcc00;
	border-radius: 45px;
	color: #fff;
	text-align: center;
	position: absolute;
	top: 0px;
	left: -8px;
	overflow: hidden;
	transition: left 0.5s, top 0.5s;
}
.featured-menu > .thumbnail:hover > a > .icon
{
	left: 67px;
	top: 60px;
}
.featured-menu > .thumbnail > a >.icon > *
{
	color: #fff;
	font-size: 28px;
	vertical-align: middle;
}
.featured-menu > .thumbnail > a >.icon:before
{
	display: block;
	position: absolute;
	content: '';
	width: 36px;
	height: 80px;
	background: rgba(179,0,0,0.2);
	left: 0px; top: 0px;
}
.featured-menu > .thumbnail > a > .title
{
	top: -30px;
	margin-bottom: -30px;
	position: relative;
	background-color: #a9c406;
	color: #fff;
	font-weight: bold;
	display: inline-block;
	padding: 5px 15px;
	font-size: 15px;
	border-radius: 4px;
	transition: top 0.3s;
}
.featured-menu > .thumbnail:hover > a > .title 
{
	top: -50px;
}
.featured-menu > .text
{
	font-size: 12px;
	text-align: center;
	padding: 10px 20px 0;
	margin-top: -25px;
}

/*-----------------------------------------------------------------------------------------------------------------*/

#footer-menu
{
	float: left;
}
#footer-menu, #footer-menu > a, #footer-social, #footer-social > a
{
	color: #fff;
	display: inline-block;
	transition: color 0.3s;
}
#footer-social
{
	float: right;
}
#footer-social > a 
{
	margin-left: 8px;
}
#footer-social > a:hover, #footer-menu > a:hover
{
	color: #FFFF26;
	text-decoration: none;
}
.social-box-o
{
	display: inline-block;
	color: #75ac19;
	background-color: #fff;
	width: 15px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	border-radius: 15px;
}

/*-----------------------------------------------------------------------------------------------------------------*/

.breadcrumb-2
{
	list-style: none;
	background: none;
	width: 100%;
	font-size: 12px;
	padding: 15px 2px 20px;
	margin-left: -7px;
}
.breadcrumb-2 li, .breadcrumb-2 li a 
{
	font-size: 0.98em;
	color: #4d4d4d;
}
.breadcrumb-2 li
{
	float: left;
	line-height: 20px;
}
.breadcrumb-2 li a
{
	display: inline-block;
	margin: 0 5px;
}
.breadcrumb-2 li a:hover
{
	color: #51B5A0;
}
.breadcrumb-2 li.active a
{
	color: #777;
}
.breadcrumb-2 li:nth-child(1n+2):before
{
	content: '\203A \00a0';
	color: #a9c406;
}
.breadcrumb-2 li a:after
{
	content: '\00a0';
	color: #a9c406;
}


/*-----------------------------------------------------------------------------------------------------------------*/

#side-menu.list-group
{
	
}
#side-menu.list-group .list-group-item
{
	border-radius: 0;
	font-size: 12px;
}
#side-menu.list-group .list-group-item.header
{
	background: #6da70b;
	border: 1px solid #538009;
	color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	box-shadow: 0 -1px 0 #7CBF0D inset;
}
#side-menu.list-group .list-group-item:not(.header)
{
	padding-left: 25px;
}
#side-menu.list-group .list-group-item:not(.header) i 
{
	margin-right: 5px;
}
div > .list-group-item:last-child
{
	padding-bottom: 20px;
}


/*-----------------------------------------------------------------------------------------------------------------*/
.page-title:after
{
	display: block;
	content: '';
	clear: both;
}
.page-title
{
	border-bottom: 3px solid #a9c406;
	padding-bottom: 10px;
	margin-bottom: 13px;
}
.page-title .title
{
	font-weight: bold;
	font-size: 15px;
	float: left;
}
.page-title .option 
{
	float: right;
}
.view-option
{
	padding-bottom: 5px;
	margin-top: -3px;
}
.view-option > button.active 
{
	background: #75ac19;
	color: #fff;
}
/*-----------------------------------------------------------------------------------------------------------------*/

.pagination li a 
{
	color: #4d4d4d;
}
.pagination li a:hover 
{
	color: #ff8900;
}



/*-----------------------------------------------------------------------------------------------------------------*/
.menu-grid 
{
	display: inline-block;
	position: relative;
	text-align: left;
}

.box-menu
{
	position: relative;
	display: inline-block;
	width: 23%;
	min-width: 150px;
	max-height: 200px;
	overflow: hidden;
	margin: 5px;
	margin-bottom: 15px;
	vertical-align: top;
}
.menu-grid.list .box-menu
{
	width: 100%;
	min-height: 65px;
	margin-bottom: 0px;
	margin-top: -5px;
	padding-top: 10px;
	padding-bottom: 5px;
}
.menu-grid.list .box-menu:not(:last-child)
{
	border-bottom: 1px solid #CCCCCC;
}
.menu-grid.list .box-menu > *
{
	display: inline-block;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	text-align: left;
}
.box-menu > .image
{
	height: 65px;
	width: 65px;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 4px;
}
.menu-grid.list .box-menu > .image
{
	margin: 0 5px 0 0;
}
.box-menu > .image img 
{
	display: block;
	height: 65px;
	width: auto;
}
.box-menu .title, .box-menu .price, .box-menu .status
{
	text-align: center;
}
.box-menu .title a
{
	display: inline-block;
	font-weight: bold;
	width: 100%;
	font-size: 14px;
	color: #4d4d4d;
	margin-top: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.menu-grid.list .box-menu .title 
{
	width: 30%;
	-border: 1px solid blue;
}
.menu-grid.list .box-menu .title a
{
	padding: 0px;
	margin: 0px;
	white-space: initial;
	max-height: 58px;
}
.box-menu .price, #menu-details .price .number
{
	font-weight: bold;
	font-size: 14px;
	color: #ff8900;
	
}
.box-menu .price
{
	margin-top: -5px;
}
.menu-grid.list .box-menu .price
{
	width: 15%;
}
.box-menu .status
{
	margin-top: 5px;
	font-size: 10px;
}
.menu-grid.list .box-menu .status
{
	width: 24%;
}
.box-menu .status a, #menu-details .status 
{
	color: #4d4d4d;
	font-size: 10px;
}
.box-menu .status a > i, #menu-details .status .likes i
{
	color: #a9c406;
}
.box-menu .button 
{
	text-align: center;
	position: absolute;
	top: 0px;
	width: 100%;
	padding-top: 20px;
	left: -218px;
	transition: left 0.3s;
}
.box-menu .button a
{
	padding: 10px 20px;
	border-radius: 3px;
}
.box-menu .button a:hover
{
	text-decoration: none;
}
.box-menu:hover .button 
{
	left: 0px;
}
.box-menu .button a:hover 
{
	background: #ffcc00 !important;
} 
.box-menu:hover 
{
	box-shadow: 0 0 0 3px #75ac19;
}
.menu-grid.list .box-menu:hover 
{
	box-shadow: none;
	background: #eee;
}
.menu-grid.list .box-menu .button
{
	top: 31px;
	left: auto;
	right: 5px;
	width: auto;
	text-align: right;
}
.menu-grid.list .box-menu .button a
{
	padding: 10px 10px;
	font-size: 11px;
}

/*-----------------------------------------------------------------------------------------------------------------*/

#menu-details .image 
{
	margin-top: 3px;
	overflow: hidden;
	max-width: 334px;
	height: 254px;
	border-radius: 3px;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	border: 5px solid #fff;
}
#menu-details .image img 
{
	width: 367px;
	height: auto;
}
#menu-details .title, #menu-details .price .text
{
	font-size: 20px;
	font-weight: bold;
	color: #4d4d4d;
	padding-top: 0px;
}
#menu-details .status
{
	margin: 10px 0;
}
#menu-details .status .separator
{
	padding: 0 10px;
}
#menu-details .description .title, #menu-details .price .text
{
	font-size: 16px;
	margin: 10px 0 7px 0;
} 
#menu-details .description > p, #menu-details .review-group .review-box .review-text
{
	font-size: 13px;
}
#menu-details .price .number 
{
	font-size: 22px;
}
#menu-details > .row > div 
{
	float: right;
}
#btn-order, #btn-add
{
	width: 240px !important;
}
#btn-order
{
	font-size: 20px;
	margin: 20px 0 10px 0;
}
#btn-add
{
	font-size: 16px;
	margin-bottom: 30px;
}

/*-----------------------------------------------------------------------------------------------------------------*/


.rating
{
	
}
.rating > span > input
{
	display: none;
}
.rating > span > .rating-label
{
	width: 25px; 
	line-height: 25px;
	display: block;
	text-align: center;
	color: #BBBBBB;
	float: left;
	font-size: 20px;
}
.rating > span.active > .rating-label
{
	color: #FFC926;
}
.rating > span:hover > .rating-label, .rating > span.fill > .rating-label
{
	color: #FFC926;
	cursor: pointer;
}
.rating-avg 
{
	position: relative;
	display: inline-block;
}
.rating-avg > .rating-value
{
	color: #FFC926;
	position: absolute;
	top: 0px;
}
.rating-avg > .rating-range
{
	color: #888888;
}
.rating-avg > .rating-value > *, .rating-avg > .rating-range > *
{
	display: inline-block;
	-width: 15px;
}


/*-----------------------------------------------------------------------------------------------------------------*/

.social-group
{
	margin: 10px 0 50px 0;
}


/*-----------------------------------------------------------------------------------------------------------------*/

#input-review input, #input-review textarea 
{
	margin-bottom: 5px;
}
.review-group > .title 
{
	font-size: 16px !important;
	border-bottom: 3px solid #A9C406;
	padding: 5px 0;
	margin-bottom: 5px;
}

.review-group > .title > button 
{
	padding: 1px 20px;
	float: right;
}
.review-box
{
	margin-top: 10px;
}
.review-box > .name, .review-box > .name a 
{
	color: #666666;
	font-weight: bold;
	font-size: 15px;
}
.review-box .rating-date .date 
{
	font-size: 12px;
	color: #999999;
	margin-left: 10px;
}
/*-----------------------------------------------------------------------------------------------------------------*/
.faq 
{
	margin-bottom: 60px;
}
.faq-box
{
	margin-bottom: 10px;
}
.faq-box .question
{
	font-size: 18px;
	font-weight: bold;
	color: #6da70b;
	margin-bottom: 5px;
}
.faq-box .answer
{
	font-size: 12px;
}
#how-to-order
{
	display: block;
	width: 100%;
	max-width: 700px;
	height: auto;
	margin-bottom: 80px;
}







/*-----------------------------------------------------------------------------------------------------------------*/


.ci
{
	width: 50px;
	height: 50px;
	display: inline-block;
	background-image: url('../images/custom-icons.svg');
}
.ci.thumbs-up 
{
	background-position: 0 0;
}
.ci.stars 
{
	background-position: -50px 0;
}
.ci.promo ss
{
	background-position: -100px 0;
}

.device-xs, .device-sm, .device-md 
{
	width: 100%;
	height: 0px;
	position: absolute;
}







/*--------------------------------[ Custom Media Queries ]---------------------------------------------------------------------------------*/

@media screen and (max-width : 767px) /*xs*/
{
	#main-logo
	{
		margin-top: 3px;
	}
	#main-logo img
	{
		display: block;
		height: 40px;
		width: auto;
	}
	#main-nav { margin-top: 0px;}
	header
	{
		background: #75ac19;
		position: fixed;
		top: 0px;
		z-index: 1;
	}
	body
	{
		padding-top: 64px;
	}
	.navbar-collapse
	{
		background: #fff;
		margin: 0 -15px;
		padding: 0px;
	}
	
	#main-nav > li > a
	{
		padding: 20px 25px;
		border-top: 1px solid #DDDDDD;
	}
	#main-nav > li:not(.active) > a:hover
	{
		background-color: #ffcc00 !important;
		color: #fff !important;
	}
	#main-nav > li.active > a
	{
		background: #fff;
		color: #ff8900;
		font-weight: bold;
	}
	.featured-menu
	{
		padding: 0 40px;
	}
	#content-home
	{
		margin-top: 30px;
	}
	.featured-menu > .text
	{
		margin-bottom: 40px;
	}
	#footer-menu, #footer-social
	{
		float: none;
		margin: 9px 0;
	}
	#wrapper
	{
		padding-bottom: 100px;
	}
	#navbar-collapse-2
	{
		position: relative;
	}
	#user-box
	{
		width: 100%; 
		background: #fff;
		border-radius: 0px;
		margin-top: 0px;
		float: none;
	}
	#user-box .dropdown-menu
	{
		margin-bottom: 15px;
	}
	#user-box .dropdown-menu > li:not(:first-child)
	{
		border-top: 1px solid #FFB973 !important;
	}
	#user-box .dropdown-menu a, #user-box .dropdown-menu i 
	{
		color: #FFFFFF !important;
	}
	#user-box .dropdown-menu a:hover
	{
		background: #A9C406;
		color: #fff;
	}
	#user-box li, #user-box li .btn-group
	{
		width: 100%;
		border: none !important;
		box-shadow: none !important;
	}
	#user-box .btn-group, #user-box a, #user-box .btn-group > a
	{
		color: #666 !important;
	}
	#user-box li a, #user-box li .btn-group > a
	{
		display: inline-block;
		padding: 10px 15px;
		line-height: 40px;
		width: 100%;
		font-size: 14px;
	}
	#user-box > li
	{
		border-top: 1px solid #ddd !important;
	}
	#user-box > li:hover > a, #user-box > li:hover .btn-group > a
	{
		color: #ff8900 !important;
	}
	#user-box span, #user-box, .visible-xs
	{
		display: inline-block !important;
	}
	#search-box
	{
		top: 64px;
		position: fixed;
		z-index: 1;
		right: 0px;
		left: 0px;
		padding: 10px 20px 35px;
	}
	#search-box .button
	{
		margin-left: 0px;
		margin-top: 8px;
	}
	#search-box .close-collapse
	{
		position: absolute;
		bottom: 0px;
		left: 0px;
		right: 0px;
		background: none;
		box-shadow: none;
	}
	.navbar-collapse.in
	{
		overflow-y: visible;
	}
	.left
	{
		text-align: center;
	}
	#menu-details .title.title-1, #menu-details .status,
	#menu-details > .row > .col-1,
	#menu-details > .row > .col-2 > .social-group
	{
		text-align: center;
	}
	#menu-details > .row > .col-2 > .image
	{
		margin: 0 auto;
	}
	.float-right, .float-left
	{
		float: none;
	}
	.box-menu
	{
		min-width: 120px;
	}
	.box-menu .title a, .box-menu .title
	{
		font-size: 12px;
	}
	.box-menu .status a, .box-menu .status
	{
		font-size: 8.5px;
	}
	.menu-grid.list .box-menu .price, .menu-grid.list .box-menu .status
	{
		position: absolute;
		right: 64px;
		width: auto;
	}
	.menu-grid.list .box-menu .price
	{
		top: 17px;
		font-size: 12px;
	}
	.menu-grid.list .box-menu .status
	{
		top: 40px;
		width: 70px;
		text-align: right;	
	}
	.menu-grid.list .box-menu .status *, .menu-grid.list .box-menu .status a 
	{
		font-size: 9px;
	}
	.menu-grid.list .box-menu .status .separator {display: none;}
	.menu-grid.list .box-menu .title
	{
		width: 60%;
	}
	.menu-grid.list .box-menu .title a
	{
		font-size: 12px;
	}
	.menu-grid.list .box-menu .button a 
	{
		padding: 15px 5px;
	}
	#menu-details .image
	{
		max-width: 334px;
		height: 214px;
	}
	#menu-details .image img 
	{
		width: 110%;
		height: auto;
	}
}

@media screen and (max-width : 680px)
{
	.box-menu
	{
		width: 30%;
	}
}
@media screen and (max-width : 516px)
{
	.box-menu
	{
		width: 45%;
	}
	.menu-grid.list .box-menu .title
	{
		width: 37%;
	}
	.menu-grid.list .box-menu .title a
	{
		font-size: 11px;
	}
}
@media screen and (max-width : 353px)
{
	.box-menu
	{
		width: 45%;
	}
	.menu-grid.list .box-menu .title
	{
		width: 30%;
	}
}

@media screen and (min-width : 768px) and (max-width: 991px) /*sm*/
{
	#content-home
	{
		margin-top: -130px;
	}
	.box-menu
	{
		width: 30%;
	}
	#menu-details .image
	{
		max-width: 334px;
		width: 100%;
		height: auto;
	}
	#menu-details .image img 
	{
		width: 110%;
		height: auto;
	}
}
@media screen and (min-width : 992px) /*md*/
{
	
}
@media screen and (min-width : 1200px) /*lg*/
{
	
}

